@import './common';

body {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  padding: 10px;
}

nav {
  min-height: 30px;
  padding: 15px;

  background-color: #fcbb30a5;
  border: 2px solid #ddd;
  border-radius: 1px;
  box-shadow: -2px 2px 2px rgba(black, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .site__logo {
    height: 30px;
  }

  ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      padding-left: 10px;

      a {
        color: rgba(0, 0, 0, 0.568) !important;
        font-weight: 600;
      }

      a:hover,
      a:focus {
        color: tomato !important;
      }
    }
  }
}

.arrow__icon {
  position: fixed;
  z-index: 999;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;

  width: 40px;
  height: 40px;
  bottom: 15px;
  right: 15px;
  fill: #2196f3;

  &:hover {
    transform: scale(1.1);
    fill: #1780d5;
  }
}

h1 {
  color: #423da4;
}

a,
a:visited {
  text-decoration: none;
  color: #0f7afc;
  font-size: 20px;
  word-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
}

.colored__list li {
  font-family: 'Trebuchet MS', 'Lucida Sans';
  padding: 7px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 10px solid #f05d22;
  box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, 0.1),
    -2px -2px 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0 rgba(0, 0, 0, 0.1),
    -2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  font-size: 20px;
  letter-spacing: 2px;
  transition: 0.3s all linear;
  background-color: white;

  &:hover {
    background-color: #e8e8e8;
  }

  &:nth-child(4n + 2) {
    border-color: #8bc63e;
  }

  &:nth-child(4n + 3) {
    border-color: #fcba30;
  }

  &:nth-child(4n + 4) {
    border-color: #1ccfc9;
  }

  a {
    display: block;
  }
}

.visible {
  opacity: 1;
}

.active__link {
  color: tomato !important;
}
