/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, :before, :after {
  box-sizing: border-box;
}

html {
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

hr {
  color: inherit;
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

:is(::-webkit-inner-spin-button, ::-webkit-outer-spin-button) {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  padding: 10px;
}

nav {
  background-color: #fcbb30a5;
  border: 2px solid #ddd;
  border-radius: 1px;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  padding: 15px;
  display: flex;
  box-shadow: -2px 2px 2px #0000001a;
}

nav .site__logo {
  height: 30px;
}

nav ul {
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  display: flex;
}

nav ul li {
  padding-left: 10px;
}

nav ul li a {
  font-weight: 600;
  color: #00000091 !important;
}

nav ul li a:hover, nav ul li a:focus {
  color: tomato !important;
}

.arrow__icon {
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  cursor: default;
  fill: #2196f3;
  width: 40px;
  height: 40px;
  transition: all .3s;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.arrow__icon:hover {
  fill: #1780d5;
  transform: scale(1.1);
}

h1 {
  color: #423da4;
}

a, a:visited {
  color: #0f7afc;
  word-wrap: break-word;
  font-size: 20px;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.colored__list li {
  letter-spacing: 2px;
  background-color: #fff;
  border-left: 10px solid #f05d22;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 7px 20px;
  font-family: Trebuchet MS, Lucida Sans;
  font-size: 20px;
  transition: all .3s linear;
  box-shadow: 2px -2px 5px #0000001a, -2px -2px 5px #0000001a, 2px 2px 5px #0000001a, -2px 2px 5px #0000001a;
}

.colored__list li:hover {
  background-color: #e8e8e8;
}

.colored__list li:nth-child(4n+2) {
  border-color: #8bc63e;
}

.colored__list li:nth-child(4n+3) {
  border-color: #fcba30;
}

.colored__list li:nth-child(4n+4) {
  border-color: #1ccfc9;
}

.colored__list li a {
  display: block;
}

.visible {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

.active__link {
  color: tomato !important;
}

/*# sourceMappingURL=git.b07a87f3.css.map */
