body {
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  color: #423da4;
}

a,
a:visited {
  text-decoration: none;
  color: #0f7afc;
  font-size: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: white;
}

li:hover {
  background-color: #e8e8e8;
}

li {
  font-family: 'Trebuchet MS', 'Lucida Sans';
  padding: 7px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 10px solid #f05d22;
  box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, 0.1),
    -2px -2px 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0 rgba(0, 0, 0, 0.1),
    -2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  font-size: 20px;
  letter-spacing: 2px;
  transition: 0.3s all linear;
}

li:nth-child(4n + 2) {
  border-color: #8bc63e;
}

li:nth-child(4n + 3) {
  border-color: #fcba30;
}

li:nth-child(4n + 4) {
  border-color: #1ccfc9;
}
